<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="views/ressources/style.css" type="text/css" media="screen">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Log In</title>
</head>
<body>
    <div class="logout">
        <a href="/logout">Deconnexion</a>
    </div>
    <center>
       <h1>Bonjour <%= prenom %> <%= nom %> </h1>
       <div id="pointVert"><h1> <%= pointFidelite %> </h1></div>
   </center>
   <div class='lastvol' style="border: solid 1px black; padding: 10px; width: 300px;">
    <h4> <%= vol %> </h4>
    <b><%= trajet %></b>
    <h4> </h4>
</div>
<div class='lastvol' style="border: solid 1px black; padding: 10px; width: 300px; margin-top: 20px;">
    <b>Vous avez effectué <%= count %> vols ces 30 derniers jours</b>
</div>   
</body> 
</html>