<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Language" content="fr">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<title>SnapBlog</title>
	<script>
		$(function() {
			$("#datepicker").datepicker();
		});
	</script>
	<link rel="stylesheet" href="views/ressources/style.css" type="text/css" media="screen">
	<title>Log In</title>
</head>
<body>
	<div class="logout">
		<a href="/logout">Deconnexion</a>
	</div>
	<center>
		<h1>Bonjour <%= prenom %> <%= nom %> </h1>
		<div id="cadre">
			<form method="post" action="/admin">
				<h1>Ajouter des utilisateurs</h1><br/>
				login : <br/>
				<input type="text" name="login"/>
				<br/><br/>
				password : <br/>
				<input type="password" name="pwd"/>
				<br/><br/>
				Nom : <br/>
				<input type="text" name="name"/>
				<br/><br/>
				Prénom : <br/>
				<input type="text" name="lastname"/>
				<br/><br/>
				Status : <br/>
				<label><input type="radio" name="status" value="0" checked>Normal</label>
				<label><input type="radio" name="status" value="1" >Admin</label>
				<br/><br/>
				<input type="submit" value="Save" name="save">
			</form>
		</div><br />
		<div id="cadre">
			<form method="post" action="/admin">
				<h1>Ajouter des passagers sur des vols</h1><br/>
				Nom du passager : <br/>
				<select name="nomPassager" onchange="Autocomplete(this)">
					<% users.forEach(function(row){ %>
					<option value="<%= row.id %>"><%= row.Username %></option>
					<% }) %>
				</select>
				<br/><br/>
				Ville de départ - Ville d'arrivée :
				<br>
				<select name="idVol">
					<% vols.forEach(function(row){ %>
					<option value="<%= row.id %>">					
						<%= row.Depart %> - <%= row.Destination %>				
					</option>
					<% }) %>
				</select>
				
				<table align="center">
					<tr><td>date du vol</td><td>Heure</td><td>Min</td></tr>
					<tr>
						<td><input type="text" id="datepicker" name="date"/></td>
						<td><input type="number" name="heure" style="width: 35px"/></td>
						<td><input type="number" name="minute" style="width: 35px"/></td>
					</tr>
				</table>
				<br/><br/>
				<input type="submit" value="Save" name="save">
			</form>
		</div>        
	</center>
</body> 
</html>